header
    .h-contacts
        .content
            .city
                include ../img/Vector.svg
                select.city_select
                    option(value=0) Санкт-Петербург
                    option(value=1) Москва
            .phone
                span +7 (812) 613-58-38
            .shedule
                span Пн–пт 10:00–19:00, сб-вс 10:00–17:00
            .write
                a(href="#") Напишите нам
            .dir
                a(href="#") Свяжитесь с директором
            .soc
                .teleg
                    a(href="#")
                        include ../img/teleg.svg
                .skype
                    a(href="#")
                        include ../img/skype.svg
                .viber
                    a(href="#")
                        include ../img/viber.svg
    .h-main
        .content 
            .h-user
                .mobile-menu
                    .mobile-menu__btn-open.show
                        include ../img/menu-icon.svg
                    .mobile-menu__btn-close
                        include ../img/close-icon.svg
                .h-user__logo
                    a(href="/")
                        include ../img/logo.svg
                .h-user__label
                    .wrapper
                        p Ваш эксперт
                        p на рынке <span class="d">3D </span>- техники
                .mobile-contacts
                    .mobile-contacts__phone
                        span +7 (812) 613-58-38
                    .mobile-contacts__shedule
                        span Пн–пт 10:00–19:00, сб-вс 10:00–17:00
                .h-user__ya-stars 
                    .wrapper 
                        .img_ya-stars 
                .h-user__search 
                    .wrapper 
                        input(type="text" placeholder="Введите запрос, например, Formlabs Form 2")
                        input(type="button" value="Найти") 
                .h-user__enter 
                    .wrapper
                        .h-user__enter_icon
                            include ../img/enter_icon.svg 
                            include ../img/enter_icon_arrow.svg 
                        .h-user__enter_text
                            p Войти
                .h-user__basket 
                    .wrapper
                        .h-user__basket__icon
                            include ../img/basket_icon.svg 
                            include ../img/dot_icon.svg 
                            include ../img/dot_icon.svg 
                        .h-user__basket__text
                            p Корзина пуста
                .empty-div
                .empty-div
                .mobile-basket
                    a(href='#')
                        include ../img/shopping-cart.svg
                .mobile-search
                    .mobile-search__btn-open.show
                        include ../img/search_icon.svg
                    .mobile-search__btn-close
                        include ../img/close-icon.svg
            .h-menu
                .h-menu-up
                    each val in ["Aкции", "О нас", "Мероприятия", "Оплата и доставка", "Что с моим заказом?", "Гос. закупки", "Блог", "Мастер-классы", "Контакты"]
                        .h-menu-up__item
                            a(href="#")= val
                .hr
                - var listMenuBot = ["3D-принтеры", "3D-сканеры", "Станки", "Роботы", "Образование", "Стоматологам", "Гаджеты", "Материалы", "ПО", "Решения", "Учебный центр"]
                .h-menu-bot
                    each val in listMenuBot
                        .h-menu-bot__item
                            .menu_select
                                include ../img/Vector.svg
                                a(href="#")= val
    .mobile-search-elem
        .wrapper 
            input(type="text" placeholder="Введите запрос, например, Formlabs Form 2")
            input(type="button" value="Найти") 
    .mobile-submenu
        .item
            p some 
        .item
            p mobile 
        .item
            p content 
    .submenu
       