doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Top 3D
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" type="text/css" href="../css/styles.min.css")
    body
        block header
            include header
            
        block main
            include main
            
        block links 
            include links
           
        block videos 
            include videos
        
        block scripts
            script(src='../js/scripts.min.js')