.links-section
    .content 
        .divider 
            .text 
                p Лучше один раз увидеть: 
            .hr
        .links 
            .link_wrapper
                a(href="#") Как устроена наша компания изнутри 
                    span 
                        include ../img/right-arrow.svg
                
            .link_wrapper
                a(href="#") Как создавалась компания - необычная история
                    span
                        include ../img/right-arrow.svg
            .link_wrapper
                a(href="#") Читай о нас на 3D Today
                    span
                        include ../img/right-arrow.svg
