.main-section
    .content
        .main-section-img
        .description 
            .call 
                h2 Твоя работа в крупнейшем интеграторе цифрового производства
                .call__btn 
                    button Отправить резюме
                .call__info
                    p Нажимая кнопку, вы соглашаетесь на обработку персональных данных.
            .text
                p Top 3D Shop – лидер по продажам 3D-оборудования в России и странах СНГ. В 2018 мы стали лучшим интегратором 3D оборудования по аддитивным технологиям и цифровому производству по версии 3D Print Awards.

                p За 6 лет работы более 10 000 клиентов по всей России и СНГ выбрали Top 3D Shop. В 2018 наш оборот составил 600 млн. рублей, в компании работает более 100 сотрудников.

                p Новая цель: 1 млрд торгового оборота в этом году и выход на международные рынки. Если вы — целеустремленный специалист, готовый учиться новым навыкам и учить других, мыслите не просто как исполнитель, а как владелец своего направления, то нам по пути!

