.videos-section 
    .content 
        .head 
            .title
                h2 Видео о нас
            .nav 
                .nav__btn_left
                    include ../img/control-arrow_left.svg
                .nav__btn_right
                    include ../img/control-arrow_right.svg
        .video-list 
            .item
                 <iframe width="490" height="280" src="https://www.youtube.com/embed/OYFOWAL1NlA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .item
                 <iframe width="490" height="280" src="https://www.youtube.com/embed/SOYBsly_yN8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
